[mysqld]
bind-address = 127.0.0.1
max_connections = 80
innodb_buffer_pool_size = 256M
innodb_log_file_size = 64M
table_open_cache = 400
tmp_table_size = 32M
max_heap_table_size = 32M
performance_schema = OFF
slow_query_log = ON
long_query_time = 1
